.iframe-container {
 text-align:
  center;
 width:106%;
}
 
h2 {
    color: #5f4b8b;
    text-align: center;
  } 
h3 {
  color: #5f4b8b;
  text-align: center;
}
body{
  background-color:#ec9688;
}
nav {
  list-style-type:none;
  position: fixed;
  background-color: wheat;
width: 100%;
margin: 0;
padding: 0;
top: 0;
left:0;
}

li{
  display: inline;
  padding: 3%;
  margin: 5px;
    float: left;
}

a {
  color: black;
  text-decoration: none;
  font-size: 120%;
 
}

li a:hover{
  background-color: grey;
  font-size: 25px;
}


}


